body {
    font-family: arial, sans-serif;
}

.hide {
    display: none;
}

input {
    display: block;
    margin-bottom: 10px;
    min-width: 300px;
    padding: 5px;
}

section {
    margin-bottom: 40px;
}

button {
    cursor: pointer;
    padding: 10px;
}

div.green-color {
    color: #0a0;
}

table {
    color: #333;
    font-size: 12px;
    font-weight: normal;
}

tr {
    background-color: #fafaff;
    border: 1px solid #ccf;
    color: #668;
}

tr:first-child {
    background-color: #668;
    color: #fff;
    font-weight: 500;
}

td {
    border: 1px solid #ccf;
    padding: 5px;
}